
.profile {
  position: relative;
  max-width: 1110px;
  margin: 100px auto 0;
  &::after{
    content: "";
    position: absolute;
    bottom: -225px;
    right: -460px;
    width: 500px;
    height: 400px;
    background-image: url("../../assets/mermaid.webp");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::before{
    content: "";
    position: absolute;
    bottom: -380px;
    left: -280px;
    width: 400px;
    height: 300px;
    background-image: url("../../assets/zeppelin.webp");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text {
    font-size: 29px;
    margin-bottom: 50px;

    span {
      font-weight: 700;
    }
  }

  .buttons_text {
    text-align: center;
    margin-block: 70px;
    font-size: 75px;
    font-weight: 700;
  }

  .buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    .button{
      width: 460px;
    }

  }
}