.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(650px, 100vh, 1000px);
    // @include adaptiv-value('height', 100, 200);
}
.title{
    font-family: Fusing;
    font-weight: 500;
    font-size: 100px;
    // line-height: 1;
    color: #fff;
}

.img_face{
    height:100px
}