@import "../../../mixins/mixins.scss";

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    line-height: 1.4;

    //margin-top: clamp(40px,40px,100px);
    @include adaptiv-value('margin-top', 30,100);

    p{
        text-align: center;
    }
}

.first_p{
    max-width: 320px;
}
.second_p{
    max-width: 500px;
}

.third_p{
    max-width: 500px;
}