@import '../../mixins/mixins.scss';

.event_details {
  position: relative;

  .event_bg {
    position: absolute;
    inset: 0;
    width: 100%;
    @include adaptiv-value('top', -200, -1000);
  }

  @include adaptiv-value('margin-top', 80, 200);

  .title {
    color: var(--primary-color);
    @include fz(20, 75);

    font-weight: 700;
    @include adaptiv-value('margin-bottom', 20, 60);
  }

  .dresscode_title {
    position: relative;
    //@media (max-width: 1200px) {
    //  @include adaptiv-value('top', -120, 116);
    //}
    top: -40px;
    //@media (max-width: 600px) {
    //  @include adaptiv-value('top', -40, 0);
    //}
  }

  text-align: center;

  .dress_code {


    min-height: clamp(100px, 56vw, 1700px);
    //@media (max-width: 1200px) {
    //  min-height: clamp(100px, 60vw, 1700px);
    //}
    @media (min-width: 1980px) {
      min-height: clamp(100px, 60vw, 1700px);
    }
    @media (min-width: 3400px) {
      min-height: clamp(100px, 70vw, 1900px);
    }

    @media (min-width: 4400px) {
      min-height: clamp(100px, 90vw, 2300px);
    }


    .jellyfish_decor {
      overflow-x: hidden;

      &::before {
        top: -150px;
        //left: -50px;
        position: absolute;
        content: '';
        @include adaptiv-value('width', 100, 400);
        @include adaptiv-value('height', 300, 700);
        @include adaptiv-value('left', 0, -50);
        //width: 400px;
        //height: 700px;
        background-image: url("../../assets/jellyfich-left.webp");
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::after {
        //top: -200px;
        //right: -200px;
        position: absolute;
        content: '';
        //width: 400px;
        @include adaptiv-value('width', 100, 400);
        @include adaptiv-value('right', -20, -200);
        @include adaptiv-value('top', -70, -200);
        height: 500px;
        background-image: url("../../assets/jellyfich-right.webp");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .partners {
    //@include adaptiv-value('min-height', 200, 900);
    //min-height: 900px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 600px) {
      gap: 0;
    }
  }


  .grid_4{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 30px;
    .img_logo{
      max-width: 100%;
      //width: 100%;
      object-fit: contain;
      //@include adaptiv-value('width', 150, 380);
    }
  }
  .grid_5{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    place-items: center;
    .img_logo{
      max-width: 100%;
      //width: 100%;
      object-fit: contain;
      //@include adaptiv-value('width', 150, 380);
    }
  }
  .grid_2{
    //margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    place-items: center;
    align-self: center;
    .img_logo{
      max-width: 100%;
      //width: 100%;
      object-fit: contain;
      //@include adaptiv-value('width', 150, 380);
    }
  }


  @media (max-width: 600px) {
    .grid_mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }



}