.wrapper{
    margin-top: 140px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.link{
    text-align: center;
    color: #fff;
}
.social_links{
    margin-top: 40px;
    justify-content: center;
    display: flex;
    gap: 30px;
    align-items: center;
}