.button{
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat Alternates';
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 40px;
  outline: none;
  border: none;
  color: white;
  padding: 20px 40px;
  font-size: 25px;

}