.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh; // или нужная вам высота
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .bg_1 {
    height: 100%;
    padding-top: 80px;
    z-index: -1;
    //position: absolute;
    //inset: 0;
    flex: 1;
    background-image: url("./assets/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
  }
}