@import "./mixins/mixins.scss";

.wrapper {

  position: relative;
  width: 100%;
  min-height: 100vh; // или нужная вам высота
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .bg_1 {
    height: 100%;
    @include adaptiv-value('padding-top', 120, 150);
    //padding-top: 150px;
    //position: absolute;
    //inset: 0;
    flex: 1;
    background-image: url("./assets/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: 0 -100px;

    .omniWorld{
      width: 100%;
      //height: 176vh;
      //background-image: url("./assets/omniverse-world.webp");
      //background-repeat: no-repeat;
      //background-size: cover;
    }
  }
}