@import "./mixins/mixins.scss";

.wrapper {
  font-family: 'Tektur';
  color: #fff;
  position: relative;
  width: 100%;
  // min-height: 100vh; // или нужная вам высота
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  //background-image: url("./assets/winter/bg-new.webp");
  //background-repeat: no-repeat;
  background: #060a0d;
  //background-size: cover;
  //background-position: top;
  //min-height: 100vh;

  //@media (max-width: 680px) {
  //  background-image: url("./assets/winter/bg-mob.webp");
  //  background-size: auto 100%;
  //  //background-size: contain;
  //}
  //@media (max-width: 600px) {
  //  background-image: url("./assets/winter/bg-new2.webp");
  //  background-size: contain;
  //}
  //@media (max-width: 768px) {
  //  //background-image: url("./assets/winter/bg-new-mobile.webp");
  //  background-size:  auto 100%; // ширина 100%, высота auto
  //}

  .main{
    overflow: hidden;
    //@include adaptiv-value('padding-top',100,120);
  }
  // @include adaptiv-value('padding-top',100,120);

  // .bg_1 {
  //   height: 100%;
  //   @include adaptiv-value('padding-top', 120, 150);
  //   //padding-top: 150px;
  //   //position: absolute;
  //   //inset: 0;
  //   flex: 1;
  //   background-image: url("./assets/bg.webp");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   //background-position: 0 -100px;

  //   .omniWorld{
  //     width: 100%;
  //     //height: 176vh;
  //     //background-image: url("./assets/omniverse-world.webp");
  //     //background-repeat: no-repeat;
  //     //background-size: cover;
  //   }
  // }
  // .bg_2{

  //   background-image: url("./assets/event_bg.webp");
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   background-position: top center;
  //   //@media (max-width: 2000px) {
  //   //  background-size: contain;
  //   //}
  // }

}

.top_bg{

  @include adaptiv-value('padding-top',60,110);
  position: relative;
  //@include adaptiv-value('padding-top',100,0);
  //padding-top: 100px;
}

.bottom_bg{
  position: relative;
  height: 100%;
  padding-bottom: 100px;
  //background-image: url("./assets/winter/footer-bg.webp");
  //background-repeat: no-repeat;
  //background-size: cover;
}

.footer_img{
  position: absolute;
  bottom: 0;
  width: 100%;
  object-fit: contain;
  //z-index: -1;
  //height: 100%;

}

.img_zanaves{
  //padding-top: 100px;
  top: 0;
  position: absolute;
  width: 100%;
  @include adaptiv-value('padding-top',60,0);
  z-index: 1000;

}
.img_shater{
  position: relative;

  width: 100%;
  margin-top: clamp(-20vw, -30vw,-40vw);
  z-index: 100;
}

//// Дополнительные декоративные элементы (снег)
//.top_bg::before {
//  content: '';
//  position: absolute;
//  top: 10%;
//  left: -50%;
//  transform: translate(-50%, -50%);
//  width: 200vw;
//  height: 200vw;
//  background: radial-gradient(circle, rgba(255, 255, 255, 0.2 ) 1px, transparent 1px);
//  background-size: 60px 60px;
//  animation: snow 30s linear infinite;
//  pointer-events: none;
//}
//
//@keyframes snow {
//  0% {
//    transform: translateY(0) rotate(0deg);
//  }
//  100% {
//    transform: translateY(100px) rotate(360deg);
//  }
//}