@import "./mixins/mixins.scss";

@font-face {
    font-family: 'Soledago';
    src: url('./fonts/Soledago.woff2') format('woff2'),
    url('./fonts/Soledago.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/MontserratAlternates-Bold.woff2') format('woff2'),
    url('./fonts/MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/MontserratAlternates-Black.woff2') format('woff2'),
    url('./fonts/MontserratAlternates-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/MontserratAlternates-ExtraBold.woff2') format('woff2'),
    url('./fonts/MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/MontserratAlternates-Medium.woff2') format('woff2'),
    url('./fonts/MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/MontserratAlternates-Regular.woff2') format('woff2'),
    url('./fonts/MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./fonts/MontserratAlternates-SemiBold.woff2') format('woff2'),
    url('./fonts/MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




:root {
    --primary-color: #ec6f00;
    --secondary-color: #2e2e2e;
}


body {
    scroll-behavior: smooth;
    line-height: 1.2;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Montserrat Alternates';
    color: var(--secondary-color);
}
body * {
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    @include adaptiv-value('padding-inline', 10, 40);
    height: 100%;
    position: relative;
}