@font-face {
    font-family: 'Tektur';
    src: url('./winter-fonts/Tektur-Medium.woff2') format('woff2'),
        url('./winter-fonts/Tektur-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('./winter-fonts/Tektur-Regular.woff2') format('woff2'),
        url('./winter-fonts/Tektur-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('./winter-fonts/Tektur-Bold.woff2') format('woff2'),
        url('./winter-fonts/Tektur-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fusing';
    src: url('./winter-fonts/Fusing-Regular.woff2') format('woff2'),
        url('./winter-fonts/Fusing-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

